<div style="text-align: center">
  <div style="display: inline-block;">
    <h1 style="margin: 20px; font-size: 3em">{{course?.title}}</h1>
  </div>
  <div style="display: inline-block;">
    <button mat-icon-button *ngIf=isOwner() (click)="goToEditPage()">
      <mat-icon>edit</mat-icon>
    </button>
    <app-confirmation-modal *ngIf="isOwner() && !this.isSecondaryTeacher()" (delete)="deleteCourse()"></app-confirmation-modal>
  </div>
</div>
<hr class="course-section"/>
<div style="text-align:center">
  <button mat-raised-button color="button-color" class="toggle-recording-button" (click)="toggleRecording()">
    {{this.hideRecording ? 'Show recording panel' : 'Hide recording panel'}}
  </button>
</div>
<div style="text-align:center; margin-top: 20px" [hidden]="hideRecording">
  <video class="video" #video autoplay [muted]="'muted'"></video>
  <span class="m-1"></span>
  <br>
  <button type="button" mat-raised-button color="button-color" class="course-button" *ngIf="!isRecording"
          (click)="startRecording()">Start recording
  </button>
  <button class="btn btn-warning btn-lg" *ngIf="isRecording" (click)="stopRecording()">Stop recording</button>
  <br/>
  <br/>
  <div class="btn-container">
    <app-send-recording-modal *ngIf="!isRecording && this.hasRecorded" (sendRecording)="sendRecord($event)"
                              [courseId]="this.course.courseId"></app-send-recording-modal>
  </div>
</div>

<hr class="course-section"/>

<app-section-list [isSecondaryTeacher]="this.isSecondaryTeacher()" [sections]="this.sections" [course]="this.course"></app-section-list>

<hr class="course-section"/>

<div class="course-section">
  <div style="display: flex">
    <div>
      <h1 style="font-size: 2.5em">Meetings</h1>
    </div>
    <div class="btn-title-container">
      <app-add-meeting-modal *ngIf="isOwner()" (meetingCreate)="this.addMeeting($event)"
                             [courseId]="this.course.courseId"></app-add-meeting-modal>
    </div>
  </div>
</div>

<div class="meeting-list">
  <div class="meeting" *ngFor="let meeting of this.meetings">
    <div class="meeting-details">
      <div class="icon-data-group">
        <div class="meeting-label-element">
          <button matTooltip="Go to meeting room" type="button" mat-icon-button color="button-color"
                  class="course-button meeting-button"
                  (click)="goToMeeting(meeting)">
            <mat-icon>meeting_room</mat-icon>
          </button>
        </div>
        <div class="meeting-label-element">
          <span style="font-size: 1em">{{meeting.title}}</span>
        </div>
      </div>

      <div class="icon-data-group">
        <div class="meeting-label-element">
          <mat-icon>calendar_today</mat-icon>
        </div>
        <div class="meeting-label-element">
          {{this.formatDate(meeting.startTime)}}
        </div>
      </div>

      <div class="icon-data-group">
        <div class="meeting-label-element">
          <mat-icon>access_time</mat-icon>
        </div>
        <div class="meeting-label-element">
          {{this.formatTime(meeting.startTime)}}
        </div>
      </div>

      <div class="icon-data-group">
        <div class="meeting-label-element">
          <mat-icon>person_pin</mat-icon>
        </div>
        <div class="meeting-label-element">
          {{this.formatMeetingUser(meeting)}}
        </div>
      </div>
    </div>
    <div>
      <app-confirmation-modal (delete)="deleteMeetingFromCourse(meeting)"></app-confirmation-modal>
    </div>
  </div>


</div>

<hr class="course-section"/>

<h1 style="font-size: 2.5em" class="course-section" *ngIf="isOwner()">Participants</h1>
<div *ngIf="isOwner()" class="participants-list">
  <div style="width: 90%; float: left">
    <mat-list class="participant">
      <mat-list-item *ngFor="let participant of this.users">
        <div class="participant-name">
          {{participant.username}}
        </div>
        <div class="participant-delete">
          <app-confirmation-modal (delete)="deleteUserFromCourse(participant)"></app-confirmation-modal>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="this.users.length===0">
        <div class="attachment-name">
          <span style="color: grey">No users here.</span>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="btn-container">
    <app-add-user-modal (addUser)="this.addUserToCourse($event)" [courseId]="this.course.courseId"></app-add-user-modal>
  </div>
</div>

<h1 style="font-size: 2.5em" class="course-section" *ngIf="isOwner() && !this.isSecondaryTeacher()">Teachers</h1>
<div *ngIf="isOwner() && !this.isSecondaryTeacher()" class="participants-list">
  <div style="width: 90%; float: left">
    <mat-list class="participant">
      <mat-list-item *ngFor="let participant of this.teachers">
        <div class="participant-name">
          {{participant.username}}
        </div>
        <div class="participant-delete">
          <app-confirmation-modal (delete)="deleteUserFromCourse(participant)"></app-confirmation-modal>
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="this.teachers.length===0">
        <div class="attachment-name">
          <span style="color: grey">No extra teachers.</span>
        </div>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="btn-container">
    <app-add-user-modal [isForTeachers]="true" (addUser)="this.addTeacherToCourse($event)" [courseId]="this.course.courseId"></app-add-user-modal>
  </div>
</div>

<app-chat [courseId]="this.courseId"></app-chat>
