<div style="text-align: center">
  <h1>{{this.pageTitle}}</h1>
</div>
<div class="inputs">
  <div class="basic-input">
    <form>
      <div class="form-control input-card">
        <label for="title">Title</label>
        <input class="form-control" id="title" name="title" type="text" [(ngModel)]="title" #t="ngModel" required [ngClass]="{ 'is-invalid': t.invalid && (t.dirty || t.touched) }" placeholder="Add title." >
        <div *ngIf="t.invalid && (t.dirty || t.touched)" class="invalid-feedback">
          <div *ngIf="t.errors['required']">
            Title is required.
          </div>
        </div>
      </div>
      <div class="form-control input-card">
        <label for="description">Short Description </label>
        <input class="form-control" id="description" name="description" type="text" [(ngModel)]="description" placeholder="Add description.">
      </div>
      <div class="btn-container">
        <button [disabled]="t.invalid" type="submit" mat-raised-button color="button-color" class="course-button" (click)="this.save()">Save</button>
      </div>
    </form>
  </div>
</div>

