<ng-template #content let-modal>
  <div class="modal-header">
    <h1 class="modal-title" id="modal-basic-title">Add a {{this.isForTeachers ? 'secondary teacher' : 'user'}} to the course</h1>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <mat-selection-list (selectionChange)="onSelectionChange(s.selectedOptions.selected[0])" [multiple]="false" #s>
          <mat-list-option *ngFor="let user of this.users" [value]="user">
            {{user.username}}
          </mat-list-option>
          <mat-list-item *ngIf="this.users.length===0">
            <span style="color: grey">No Add a {{this.isForTeachers ? 'teachers' : 'users'}} available.</span>
          </mat-list-item>
        </mat-selection-list>
        <div *ngIf="this.isSubmitted && !this.isSelected" class="invalid-list-error">
          <div>
            You must choose a {{this.isForTeachers ? 'teacher' : 'user'}}.
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="this.users?.length===0" type="button" class="btn btn-outline-dark" (click)="close()">Add</button>
  </div>
</ng-template>

<button mat-icon-button class="attachment-add" (click)="open(content)">
  <mat-icon>add</mat-icon>
</button>
