.file-input{
  display: none;
}

.basic-input {
  width: 40%;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.inputs {
  display: flex;
  justify-content: center;
  margin: auto;
}

.input-card {
  margin: 10px;
  overflow: hidden;
  height: auto;
}
